h1 {
    background-color: darkturquoise;
}
#logo {
    float: left;
}
body {
    background-image: linear-gradient(cyan 80%, yellow 20%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#gen {
    position: absolute;
    top: 200px;
    left: 550px;
    font-size: xx-large;
}
#generate {
    position: absolute;
    top: 300px;
    left: 550px;
    height:60px;
    width: 100px;
    border-radius: 12px;
    font-size: medium;
}
#appnews {
    position: absolute;
    top: 250px;
    left: 0px;
    background-color:cornflowerblue;
}


